@model IEnumerable<QLTours.Models.Booking>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
               Mã Tour
            </th>
            <th>
                Mã Khách Đặt
            </th>
          
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           
            <td>
                @Html.DisplayFor(modelItem => item.Tour.TourId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserId)
            </td>
           
        </tr>
}
    </tbody>
</table>
