@model QLTours.Models.Hotel

@{
    ViewData["Title"] = "Chỉnh sửa Hotel";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}

<div class="container mt-4">
    <div class="card shadow">
        <div class="card-header bg-warning text-white">
            <h3 class="card-title">Chỉnh sửa Hotel</h3>
        </div>
        <div class="card-body">
            <form asp-action="Edit" class="needs-validation" novalidate>
                <input type="hidden" asp-for="HotelId" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-floating mb-3">
                    <input asp-for="HotelName" class="form-control" />
                    <label asp-for="HotelName">Tên Hotel</label>
                    <span asp-validation-for="HotelName" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="Description" class="form-control" />
                    <label asp-for="Description">Mô Tả</label>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="Address" class="form-control" />
                    <label asp-for="Address">Địa Chỉ</label>
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary">
                        <i class="bi bi-save"></i> Lưu
                    </button>
                    <a asp-action="Index" class="btn btn-secondary">
                        <i class="bi bi-arrow-left-circle"></i> Quay lại
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
